html, body {
    height: 100%;
    background-image: url("../images/IMG_0585.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: 'Karla', sans-serif;
}

#header {
	text-align: center;
	min-height: 10vh;
}

#footer {
    text-align: center;
    min-height: 10vh;
}