#datainsert{
    background-image: url("../images/20181117163129_IMG_0429-01.jpeg");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.btng-left{
    width: 100%;
    margin-top: 28px;
}
.panel_left{
    padding: 2% 0;
    background-color: #eee;
    //border-right: 1px solid black;
}
.panel_left a{
    color: black;
}

.panel_right{
    background-color: #fff;
    padding: 2% 2%;
    
}
.submit{
    margin-bottom: 10px;
}