    #footer {
        max-height: 22vh;
        min-height: 22vh;
    }

    footer {
        background-color: #f8f9fa;
        font-family: 'Roboto Slab', serif;
        color: #01233f;

        width: 100%;
        
    }

    footer hr.style14 {
        border: 0;
        height: .1rem;
        width: 100%;
        margin-top: 0rem;
        margin-bottom: 0rem;
        background-image: -webkit-linear-gradient(left, #f0f0f0, #545353, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #545353, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #545353, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #545353, #f0f0f0);
    }

    footer hr.style1 {
        border: 0;
        height: .1rem;
        width: 100%;
        margin-top: 0rem;
        margin-bottom: 0rem;
        
        background-color:black;
    }

    
    footer .btn, .btn:active, .btn:focus {
        background-color: #f8f9fa;
        border-color: #f8f9fa;
        text-decoration: none;
        color: #01233f;
    }

    footer .btn:hover {
        color: #01233f;
        background-color: #f8f9fa;
        text-decoration: none;
        border-color: #f8f9fa;
    }

    /* Extra small devices (portrait phones, less than 576px)*/
    @media (max-width: 575.98px) {
        
    }

    /*Small devices (landscape phones, 576px and up)*/
    @media (min-width: 576px) and (max-width: 767.98px) {
        
    }

