html, body {
    height:100%;
}

.jumbotron {
	background-image: url("../images/sun-rays-in-forest-11-1500x500.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

    background-attachment: fixed;

    height: 100%;
    
	position: relative;
  	
}

.container-fluid {
	display: flex;
}

.panel {
	margin: 20px 0px 20px 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.panel .d-flex {
	margin: 15px 0px;
}

.panel:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

