.panel {
	margin: 20px 0px 20px 0px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.panel .d-flex {
	margin: 5px 0px;
}

.panel:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.borderless td, borderless th{
border: none;
}

.panel .table {
margin-bottom: 0px !important;
/* width: 60%; */
}

.panel .table td , .panel .table th  {
	width: 50%;
padding: 0.25rem !important;}