html, body {
    height: 100%;
    font-family: 'Karla', sans-serif;
    
    background-image: url("../images/Banner-image/IMG_0580.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

hr.style14 {
    border: 0;
    height: .1rem;
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #545353, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #545353, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #545353, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #545353, #f0f0f0);
}