html, body {
    font-family: 'Karla', sans-serif;
    height: 100%;
    background-image: url("../images/IMG_0550.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column
}


#survey-results form legend , #survey-results form label.col-form-label {
    font-size: 1.2rem !important;
}

#survey-results form label {
    font-size: 1.05rem !important;
}

#survey-results form input[type=radio] , #survey-results form input[type=checkbox]{
    transform:scale(1.075);
}

#survey-results form .form-check.form-check-inline , #survey-results form .form-check {
    margin-left: 1rem;
}