/*{
    border: 1px solid black;
}*/
#signup {
    min-height: 600px;
    background: url(../images/20180929014317_IMG_8156-03.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.signup-about{
    margin-top: 25px;
}
.signup-content{
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
    margin-bottom: 5px;
    border-radius: 2%;
}
.signup-about .title{
    color: #eee;
    font-weight: 700;
    font-size: 55px;
}
.signup-about p{
    color: #eee;
    font-weight: 500;
    font-size: 30px;
}
.signup-content .title{
    color: #333;
    font-weight: 700;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.signup-btn{
    margin-bottom: 15px;
}
.signup-content ul{
    list-style: none;
    padding: 0;
}
.signup-title{
    color: #333;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    margin-bottom: 3px;
}